<div class="ui raised segment" style="text-align:center">
  <!-- *ngIf="finishedImageProcess" -->
    <h4 class="ui header">Business Card </h4>
        <form [formGroup]="uploadForm" class="ui form">

          <div class="field" >
          <label for="firstName">First Name: </label>
          <input type="text"
                 id="firstName"
                 placeholder="Loading..."
                 [formControl]="uploadForm.controls['firstName']" >
          </div>


        <div class="field">
                <label for="lasttName">Last Name: </label>
                <input type="text"
                       id="lastName"
                       placeholder="Loading..."
                       [formControl]="uploadForm.controls['lastName']" >
        </div>

        <div class="field">
            <label for="companyName">Company: </label>
            <input type="text"
               id="companyName"
               placeholder="Loading..."
               [formControl]="uploadForm.controls['company']" >
        </div>
        <div class="field">
                <label for="emailInput">Email: </label>
                <input type="text"
                   id="emailInput"
                   placeholder="Loading..."
                   [formControl]="uploadForm.controls['email']" >
        </div>
        <div class="field">
                    <label for="phoneInput">Phone: </label>
                    <input type="text"
                       id="phoneInput"
                       placeholder="Loading..."
                       [formControl]="uploadForm.controls['phone']" >
        </div>
        <br>
</form>
<button type="submit" (click)="onSubmit(uploadForm.value);"class="ui button">Submit</button>
</div>

<script>
</script>
