<div style="text-align:center">
    <h1>
      Scan Card Here!
    </h1>
  
    <div>
      <webcam [height]="250" [width]="250" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
              [videoOptions]="videoOptions"
              [imageQuality]="0.5"
              (initError)="handleInitError($event)"
      ></webcam>
      <br/>
      <button class="actionBtn" (click)="triggerSnapshot();">Capture</button>
      <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam On/Off</button>
      <br/>
      <span><button type="submit" (click)="this.authService.logout()" class="ui button">Logout</button></span>
      <br/>
    </div>
  </div>
  

  <div style="height: 250px; width:250px;" class="snapshot" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl"/>
    <app-file-upload></app-file-upload>
  </div>
  
  <!-- <h4 *ngIf="errors.length > 0">Messages:</h4>
  <ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
  </ul> -->
