<div style="text-align:center">
    <h1>
      Scan Card Here!
    </h1>
  
    <div>
      <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
              [videoOptions]="videoOptions"
              [imageQuality]="1"
              (initError)="handleInitError($event)"
      ></webcam>
      <br/>
      <button class="actionBtn" (click)="triggerSnapshot();">Capture</button>
      <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam On/Off</button>
      <br/>
      <span><button type="submit" (click)="this.authService.logout()" class="ui button">Logout</button></span>
      <br/>
    </div>
  </div>
  
  <div class="snapshot" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl"/>

    <div class="container">
      <app-file-upload></app-file-upload>
    </div>
  </div>
  
  <h4 *ngIf="errors.length > 0">Messages:</h4>
  <ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
  </ul>
