<div class="ui raised segment" style="text-align:center">
      <h4 class="ui header"> Business Card </h4>

      <div class="webcamBg">
        <img *ngIf="hasImage" [src]="this.card.imageDataUrl" width="470px" height="300px" alt="Card Image Here" />
    </div>

      <form class="mb-5" [formGroup]="editBusinessCardForm" (ngSubmit)="onSubmit(this.cardId, editBusinessCardForm.value)">

        <div class="form-label-group">
            <input type="text" class="form-control" id="firstName" placeholder="First Name" [formControl]="editBusinessCardForm.controls['firstName']" required>
            <label for="firstName">First Name</label>
        </div>

        <div class="form-label-group">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" [formControl]="editBusinessCardForm.controls['lastName']" required>
            <label for="lastName">Last Name</label>
        </div>

        <div class="form-label-group">
            <input type="text" class="form-control" id="companyName" placeholder="Company Name" [formControl]="editBusinessCardForm.controls['companyName']">
            <label for="orgName">Company Name</label>
        </div>

        <div class="form-label-group">
            <input type="email" class="form-control" id="email" placeholder="Email" [formControl]="editBusinessCardForm.controls['email']">
            <label for="email">Email</label>
        </div>

        <div class="form-label-group">
            <input type="text" class="form-control" id="phone" placeholder="Phone" [formControl]="editBusinessCardForm.controls['phone']">
            <label for="phone">Phone</label>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!editBusinessCardForm.valid">Update</button>
    </form>
    <br>
    <span>
    <button (click)="this.onCancel()" class="btn btn-primary">Cancel</button>
    <button (click)="this.onDelete(this.cardId)" class="btn btn-primary">Delete</button>
  </span>
    <br>
  </div>

